.blue-background {
  background: #0FB1F7;
}

.top-bar-text{
  color: white;
  font-weight: bolder;
  font-size: x-large;
}

.top-bar-search-input {
  position: absolute;
  right: 10px;
}

.top-bar {
  display: flex;
  align-items: center;
  height: 50px;
  justify-content: space-between;
}

