$icon-size: 25px;
$img-size: 90px;

.container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.float-left {
  float: left;
}

@media only screen and (min-width: 1000px) {
  .content-container{
    width: 50%;
    cursor: pointer;
  }
}


@media only screen and (max-width: 1000px) {
  .content-container{
    width: 100%;
    margin: 0 5px;
    cursor: pointer;
  }
}


.icon-info {
  display: flex;
  align-items: center;
  img {
    width: $icon-size;
    height: $icon-size;
  }
  span {
    margin: 0 5px;
  }
}

body {
  margin: 0;
  background: #F4F7FB;
}
