.action-card-container {
  box-sizing: content-box;
  width: 200px;
  z-index: 1;
  img {
    width: 90%;
    height: 90%;
  }
  span {
    color: #0FB1F7;
    font-size: 1.2em;
    font-weight: 500;
  }
}
.action-card-hover {
  box-shadow: inset -1px -1px 9px 6px #92a2df;
}
